.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.button {
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    background-color: #3975ed;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    margin-top: 30px;
}

.button:disabled {
    filter: grayscale(0.9);
}

.header {
    padding: 20px
}

.header h1 {
    font-size: 40px;
    font-weight: 600;
}

.content {
    display: flex;
    gap: 30px;
    position: relative;
}

.list {
    flex: 2;
}

.info {
    flex: 1;
    position: sticky;
    top: 200px;
    height: min-content;
}